.idea
.DS_Store
**/.DS_Store
out
.gradle
*/.gradle
*/build
*/*.iml
eclipse-plugin/bin
eclipse-plugin/plugins.jar
intellij-plugin/ideaflow-plugin.zip
visualizer/.sass-cache
visualizer/target/
visualizer/buildPlugins
plugins/intellij/ideaflow-plugin.iml
