
#contentpanel {
    .nav {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 40px;
        width: 760px;
    }
}

div.tabcontent {
  overflow:scroll; height:400px;
}
