

#footer {
    height: 60px;
    padding: 12px;
    text-align: center;
    i {
        margin-left: 20px;
        &:before {
            content: "\f02d";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: #333;
            font-size: 18px;
        }
    }

}