$nav-color1: $light-blue;
$nav-color2: $pink;
$nav-color3: $tangerine;

.header {
    .option1 {
        background-color: $nav-color1;
    }
    .option2 {
        background-color: $nav-color2;
    }
    .option3 {
        background-color: $nav-color3;
        }
    .nav {
        height: 60px;
        min-width: 460px;
        img {
            float: right;
            height: 60px;
            margin: 0;
            
        }
        ul {
            float: left;
            height: 60px;
            width: 70%;
            margin: 0;
            li {
                float: left;
                height: 100%;
            }
            li.active {
                background: rgba(#3333e0, 0.2);
            }
        }
        a {
            display: inline-block;
            color: $link-color;
            text-decoration: none;
            margin: 18px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}