table.tabular {
    background-color: white;
}

td.modified {
  color: $modified-color;
  font-style:italic;
}

td.hiddenOffset {
  display:none;
}

tr.learningtype {
  background-color: $light-learning-color;
}

tr.reworktype {
  background-color: $light-rework-color;
}

tr.conflicttype {
  background-color: $light-conflict-color;
}

tr.idletype {
  background-color: $idle-color;
}

tr.idletype td {
  color: $white;
  font-style: italic;
}


td.learningtype {
  background-color: $learning-color;
}

td.reworktype {
  background-color: $rework-color;
}

td.conflicttype {
  background-color: $conflict-color;
}



.right {
  text-align: right;
}