table.tabular {
    background-color: white;
}

td.modified {
  color: $modified-color;
  font-style:italic;
}

td.hiddenOffset {
  display:none;
}

.learningtype {
  background-color: $learning-color;
}

.reworktype {
  background-color: $rework-color;
}

.conflicttype {
  background-color: $conflict-color;
}

.right {
  text-align: right;
}