$timeline-holder-width: $unit * 80;
$timeline-holder-top-margin: $unit;
$timeline-holder-bottom-margin: $unit;
$timeline-holder-padding: $unit * 2;

.timeline-holder {
    @include border-radius($unit, $unit);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: $timeline-holder-top-margin;
    margin-top: $timeline-holder-bottom-margin;
    padding: $timeline-holder-padding;
    width: $timeline-holder-width;
}