html, body {

    height: 100%;

    overflow-x: hidden; /* Needed for ie7-8 bug with csspie and box-shadows*/

}

body {

    background-color: #EEEEEE;
    min-width: 1024px;

    color: #333333;

}

h1 {
    color: #333333;
}

a {
    color: #1073b9;
}

a:hover {
    color: #40a6ef;
}

.layout-wrapper {

    position: relative;
    min-height: 100%;

    margin: 0px auto;

}

.layout-header {

    background-color: #333333;
    /*background-image: -webkit-radial-gradient(center, circle cover, #333333 70%, #111111 100%);*/

    width: 100%;
    padding-top: 35px;

}

.layout-header .nav {

    margin-top: 40px;

    line-height: 50px;

    background-image: -ms-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -moz-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -o-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a6ef), color-stop(1, #1073b9));
    background-image: -webkit-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: linear-gradient(to bottom, #40a6ef 0%, #1073b9 100%);

    box-shadow: 0px 0px 15px #333333;

}

.layout-header .nav .separator {

    display: inline-block;
    *display: inline;

    background-image: -ms-linear-gradient(top, #1073b9 0%, #40a6ef 100%);
    background-image: -moz-linear-gradient(top, #1073b9 0%, #40a6ef 100%);
    background-image: -o-linear-gradient(top, #1073b9 0%, #40a6ef 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1073b9), color-stop(1, #40a6ef));
    background-image: -webkit-linear-gradient(top, #1073b9 0%, #40a6ef 100%);
    background-image: linear-gradient(to bottom, #1073b9 0%, #40a6ef 100%);

    width: 1px;
    line-height: 50px;
    margin: 0px 20px;

}

.no-cssgradients .nav .separator {
    position: relative;
    z-index: 1;

    -pie-background: linear-gradient(#1073b9 0%, #40a6ef 100%);
}

.no-cssgradients .nav {

    position: relative;
    z-index: 1;

    -pie-background: linear-gradient(#40a6ef 0%, #1073b9 100%);

}

.layout-header .nav ul {

    display: block;

    width: 1024px;

    margin: 0px auto;
    padding: 0px;

}

.layout-header .nav li {

    margin: 0px 0px 0px 0px;
    padding: 0px;

    display: inline-block;
    *display: inline;

}

.layout-header .nav a {

    display: inline-block;

    height: 100%;

    color: #e8c02b;

    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333333;

    text-align: center;
    text-decoration: none;

}

.layout-header .nav a:hover {

    color: #FEFEFE;

}

.layout-header .header-wrapper {

    width: 1024px;
    margin: 0px auto;

}

.ie7 .header-wrapper {

    padding-bottom: 40px;

}

.layout-header .user-info-wrapper {

    position: relative;
    z-index: 1;
    zoom: 1;

    display: inline;
    float: right;

    min-width: 150px;

    font-weight: bold;
    font-size: 13px;

    margin-right: 20px;
    padding: 10px;

    border: 1px solid #333333;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    cursor: pointer;
    cursor: hand;

    color: #e8c02b;

}

.layout-header .user-info span {
    float: left;
}

.layout-header .user-info-wrapper .underline {
    border-bottom: 1px solid #989898;
}

.layout-header .user-info-wrapper .actions {

    display: none;

    padding-top: 5px;
    text-align: center;

}

.layout-header .user-info-wrapper .actions a {

    display: block;

    line-height: 20px;

    padding: 5px 0px;

}

.layout-header .user-info-wrapper .ui-icon {

    background-image: url(../../images/ui-icons_e8c02b_256x240.png);

    display: inline-block;

}

.layout-header .logo {

    float: left;
    display: inline;

    text-decoration: none;

}

.layout-header .logo img {
    margin-left: 20px;
    max-height: 80px;
}

.layout-header a {
    color: #40a6ef;
}

.layout-header a:hover {
    color: #EFEFEF;
}

.layout-content {

    width: 1024px;

    margin: 0px auto;
    padding: 0px;
    padding-bottom: 85px;

}

.layout-content > div {
    margin: 0px 20px;
}

.layout-footer {

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 55px;

    padding: 5px 0px;

    text-align: center;

    font-size: 13px;

    background-color: #333333;
    /*background-image: -webkit-radial-gradient(center, circle cover, #333333 70%, #111111 100%);*/

    box-shadow: 0px 0px 15px #333333;

    color: #989898;

}