.pagination {

    background-image: -ms-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -moz-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -o-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a6ef), color-stop(1, #1073b9));
    background-image: -webkit-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: linear-gradient(to bottom, #40a6ef 0%, #1073b9 100%);

    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;

    border: 1px solid #989898;
    border-top: 0px;

    line-height: 35px;

    text-align: center;

}

.ie7 .pagination {
    height: 35px;
}

.ie7 .nextLink {

    position: relative;
    top: -35px;

}

.no-cssgradients .pagination {

    position: relative;
    z-index: 1;

    -pie-background: linear-gradient(#40a6ef 0%, #1073b9 100%);

}

.pagination .prevLink {

    display: inline;
    float: left;

    margin: 0px 15px;

}

.pagination .nextLink {

    display: inline;
    float: right;

    margin: 0px 15px;

}

.pagination .currentStep {

    display: inline-block;
    *display: inline;

    color: #FEFEFE;

    text-shadow: 1px 1px 1px #333333;
    font-weight: bold;

    padding: 0px 8px;

}

.pagination a, .pagination .step {

    display: inline-block;
    *display: inline;

    color: #e8c02b !important;

    text-shadow: 1px 1px 1px #333333;
    font-weight: bold;
    text-decoration: none;

    padding: 0px 8px;

}

.pagination a:hover {

    color: #FEFEFE !important;

    text-decoration: underline;

}

.pagination > span:first-child  {
    margin-left: 82px;
}

.pagination > span:last-child {
    margin-right: 82px;
}