.table-wrapper {

    border: 1px solid #989898;

    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

}

.table-wrapper table {

    width: 100%;
    table-layout: fixed;

}

.table-wrapper th {

    background-image: -ms-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -moz-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -o-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a6ef), color-stop(1, #1073b9));
    background-image: -webkit-linear-gradient(top, #40a6ef 0%, #1073b9 100%);
    background-image: linear-gradient(to bottom, #40a6ef 0%, #1073b9 100%);

    text-align: left;

    line-height: 40px;

    color: #e8c02b;
    text-shadow: 1px 1px 1px #333333;

    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;

}

.no-cssgradients .table-wrapper th {

    position: relative;
    z-index: 1;

    -pie-background: linear-gradient(#40a6ef 0%, #1073b9 100%);

}

.table-wrapper th:first-child {
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.table-wrapper th:last-child {
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.table-wrapper th a {

    display: inline-block;

    padding-left: 30px;

    color: #e8c02b;

    text-decoration: none;

}

.table-wrapper th a:hover {

    color: #FEFEFE;

    text-decoration: none;

}

.table-wrapper th.sortable a {
    background: no-repeat 13px 16px;
}

.table-wrapper th.asc a {
    background-image: url(../../images/skin/sorted_asc.gif);
}

.table-wrapper th.desc a {
    background-image: url(../../images/skin/sorted_desc.gif);
}

.table-wrapper tbody td {
    border-bottom: 1px dotted #989898;
}

.table-wrapper tr.even td {
    background-color: #FEFEFE;
}

.table-wrapper tr.odd td {
    background-color: rgba(224, 240, 255, 0.4);
    background-color: #E0F0FF;
}

.table-wrapper td {

    line-height: 35px;

    padding-left: 15px;

    overflow: hidden;
    text-overflow: ellipsis;

}

.table-wrapper td a {
    font-weight: bold;
}